<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760270747606-o17ot7vag93uoa5lkc7huf0usa7rfmsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760270747606-o17ot7vag93uoa5lkc7huf0usa7rfmsh</string>
	<key>API_KEY</key>
	<string>AIzaSyB0T-dVo_bu_EOn-UJqhhuv2HQVbCOjSv0</string>
	<key>GCM_SENDER_ID</key>
	<string>760270747606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cocoapods.demo.SMRemote-Example</string>
	<key>PROJECT_ID</key>
	<string>smremote-882b9</string>
	<key>STORAGE_BUCKET</key>
	<string>smremote-882b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760270747606:ios:0f09771301b59ea0</string>
	<key>DATABASE_URL</key>
	<string>https://smremote-882b9.firebaseio.com</string>
</dict>
</plist>